<div class="mainDiv">

  <!--
  <div class="containerCS container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Añadir
    </button>

    <div class="input-group divSearch">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" placeholder="Search" />
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
-->

<!-- BUsquedas -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4 mb-4">
    <div class="container">
      <div class="container-fluid">
        <a
          class="navbar-brand btn btn-primary addBtn"
          style="color: white; border-radius:5px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >Añadir</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup1"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
          <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categorias
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a
                    class="dropdown-item"
                    href="/items/search/computo"
                  >Cómputo</a></li>
                <li><a class="dropdown-item" href="/items">Todas</a></li>
              </ul>
            </div>

            <div class="nav-item">
              <div class="input-group nav-item mr-auto">
                <form
                  action="/items/search/param"
                  method="post"
                  class="input-group"
                >
                  <div class="form-outline">
                    <input
                      type="search"
                      id="form1"
                      class="form-control"
                      placeholder="Search"
                      name="itemSearch"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--Condicional de muestreo-->
  {{#if items}}
    <div class="boxTable">
      <table id="table" class="table table-bordered table-striped">
        <thead>
          <tr
            style="
                color: White;
                /*rgb(183, 74, 83)*/
                background-color: rgb(19, 152, 225);
                font-weight: bold;
              "
          >
            <th align="center">ID</th>
            <th class="tdDescription">Descripción</th>
            <th align="center">Marca</th>
            <th align="center">Serie</th>
            <th align="center">Ubicacion</th>
            <th align="center">Reguarda</th>
            <th align="center">Imagen</th>
            <th align="center">Fecha</th>
            <th align="center" class="btnActions ">Vista</th>
            <th align="center" class="btnActions ">Editar</th>
            <th align="center" class="btnActions ">Borrar</th>
          </tr>
        </thead>
        <tbody class="scroll-table">
          {{#each items}}
            <tr>
              <td align="center">{{_id}}</td>
              <td class="tdDescription">{{descripcion}}</td>
              <td align="center">{{marca}}</td>
              <td align="center">{{serie}}</td>
              <td align="center">{{ubicacion}}</td>
              <td align="center">{{resguarda}}</td>
              {{#if imageURL}}
                <td align="center">Si</td>
              {{else}}
                <td align="center">No</td>
              {{/if}}
              <td align="center">
                  {{daten}}
                  <br>
                  <i class="far fa-calendar-alt"></i>
              </td>

              <td align="center" class="btnActions ">
                <a class="far fa-eye buttonView " href="/items/{{_id}}/view"></a>
              </td>
              <td align="center" class="btnActions ">
                <a href="/items/{{_id}}/edit" class="far fa-edit buttonEdit">
                </a>
              </td>
              <td align="center" class="btnActions ">
                <form
                  action="/items/{{_id}}/delete?_method=DELETE"
                  method="post"
                >
                  <input type="hidden" name="_method" value="DELETE" />
                  <button
                    class="far fa-trash-alt buttonDelete"
                    type="submit"
                    style="border: 0px;"
                    onclick="return confirm('¿Desea eliminar el item?')"
                  ></button>
                </form>

              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <!--Cierre condicional de muestreo-->
  {{else}}
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="text-center text-dark">
        <h1>No items</h1>
        <img src="/img/empty.svg" class="w-75" alt="Empty" />
      </div>
    </div>
  {{/if}}
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Añadir a inventario
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/items/add" method="post" enctype="multipart/form-data">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Clave</span>
            <input
              type="text"
              class="form-control"
              placeholder="Clave Unica"
              aria-label="Username"
              aria-describedby="basic-addon1"
              disabled
            />
          </div>

          <div class="input-group">
            <span class="input-group-text">Descripción</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              name="descripcion"
              required
              autofocus
            ></textarea>
          </div>
          <br />
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Marca</span>
            <input
              type="text"
              class="form-control"
              placeholder="Marca"
              aria-label="Username"
              aria-describedby="basic-addon1"
              name="marca"
              required
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Serie </span>
            <input
              type="text"
              class="form-control"
              placeholder="Serie"
              aria-label="Username"
              aria-describedby="basic-addon1"
              name="serie"
              required
            />
          </div>
          <!--Date-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Fecha </span>
            <input
              type="date"
              class="form-control"
              aria-label="Username"
              aria-describedby="basic-addon1"
              name="date"
              required
            />
          </div>

          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="inputGroupSelect01"
            >Ubicación</label>
            <select
              class="form-select"
              id="inputGroupSelect01"
              name="ubicacion"
              required
            >
              <option selected>Elegir opción</option>
              <option value="Sec. Administrativa">Sec. Administrativa</option>
              <option value="Lab. Microprocesadores">Lab. Microprocesadores</option>
              <option value="Biblioteca">Biblioteca</option>
            </select>
          </div>

          <hr />

          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="DataListResguarda"
            >Resguarda</label>
            <input
              class="form-control"
              list="datalistOptions"
              id="DataListResguarda"
              placeholder="Escriba para buscar..."
              name="resguarda"
              required
            />
            <datalist id="datalistOptions">
              <option value="Emilio Castan Rocha"></option>
              <option value="Marcos Azuara Hernandez"></option>
              <option value="Alejandro Garcia"></option>
              <option value="Anel Rocha"></option>
              <option value="Guzman Obando Javier"></option>
            </datalist>
          </div>

          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="DataListResguarda"
            >Categoria</label>
            <input
              class="form-control"
              list="datalistOptions2"
              id="DataListResguarda"
              placeholder="Escriba para buscar..."
              name="categoria"
              required
            />
            <datalist id="datalistOptions2">
              <option value="Cómputo"></option>
              <option value="Herramienta"></option>
              <option value="Papeleria"></option>
              <option value="Inmobiliario"></option>
              <option value="Electronica"></option>
            </datalist>
          </div>

          <hr />
          <div class="mb-3" >
            <label for="formFile" class="form-label">Imagen</label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              accept="image/png, image/gif, image/jpeg, image/jpg"
              name="image"
            />
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </a>

            <button
              type="submit"
              class="btn btn-primary"
             
            >
              Confirmar
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>